<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script src="js/config.js"></script>

    <!-- controllers -->
    <script src="js/controllers/fortune_controller.js"></script>


  </head>
  <body ng-app="fortune" ng-controller="FortuneCtlr" ng-init="init();">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Fortune Cookie App</h1>
      </ion-header-bar>
      <ion-content>
        
        <strong>Your fortune phrase is..</strong>
        <p class="phrase">{{ phrase }}</p>
        <button ng-click="loadPhrase()">Try another</button>
        <p class='error' ng-if="error_message != ''">{{ error_message }}</p>
      </ion-content>
    </ion-pane>
  </body>
</html>
